.flexContainer {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  gap: 25px;
}

.logoRR {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logoRR>img:first-child {
  margin: 20px 0 10px;
  width: 40%;
}

.logoRR>img:nth-child(2) {
  width: 61%;
}


.rutes {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.rutes li {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  padding: 0px 8px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #41426F;
}

.rutes li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: #41426F;
}

.rutes li:hover,
.rutes li:hover a {
  background: #AACE9B;
  color: #FFFFFF;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
}

.logginOptions {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logginOptions>a {
  max-width: 150px;
  color: var(--color-white-ligthgrey);
}

.buttonItem {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid var(--color-blue-border);
  background-color: var(--color-white-ligthblue);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: var(--color-blue-primary);
  cursor: pointer;
}

.buttonItem:hover {
  background-color: var(--color-green-primary);
}
