.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0 , .5);
    width: 100vw;
    display: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.modalWrapper {
    width: 300px;
    background-color: #fff;
    position: relative;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.closeButton {
    position:absolute;
    top:15px;
    right: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 800;
}