.modalOverlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0 , .5);
}

.modalWrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 13px;
    background: #FFFFFF;
    border: 1.5px solid rgba(55, 56, 103, 0.4);

    box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
}

.closeModalBtn {
    padding: 5px;
    cursor: pointer;
}
.closeModalBtn:hover {
    animation: spinner360 1s linear;
}
@keyframes spinner360 {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(720deg);
    }
}

.line {
    display: flex;
    width: 15px;
    height: 2px;
    border-radius: 2px;
    background-color: rgba(55, 56, 103);
}

.line:nth-of-type(1) {
    transform: translateY(1px) rotate(45deg);
}

.line:nth-of-type(2) {
    transform: translateY(-1px) rotate(-45deg);
}

.modalWrapper > div > ul {
    list-style: none;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 800;
}
