.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #eeecff;

}

.item {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.item>label {
    font-size: 16px;
    font-weight: bold;
    color: #263463;
}

.item>input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    height: 35px;
    width: 100%;
    font-size: 18px;
    color: #142342;

    border-radius: 10px;
    border: 2px solid #263463;
    outline: none;
}

.item>input:focus,
.item>input:focus-visible,
.item>input:target {
    outline: none;
    border: 2px solid #4b61ac;
    background: linear-gradient(90deg, rgb(230, 233, 255), #a1b6f0)
}

.buttons {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.buttons>button {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #4b61ac;
    outline: none;
    font-size: 16px;
    font-weight: 900;
}

.buttons>button.editBtn {
    background-color: rgba(190, 190, 252, 0.8);
}

.buttons>button.editBtn:hover {
    background-color: rgb(149, 149, 228);
}

.buttons>button.closeBtn {
    background-color: rgba(252, 192, 190, 0.8);
}

.buttons>button.closeBtn:hover {
    background-color: rgb(224, 95, 91);
}