.tableContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 10%;
  justify-content: flex-end;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin: 50px auto;
}

.table>thead>th {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  background-color: #3738671a;
  box-shadow: inset 0px -1px 0px #E0E0E0;
  border-radius: 15px;
}

.table>thead>tr>td {
  flex: 1 1 30%;
  justify-content: center;
  align-items: center;
}

.table>thead>tr>td:nth-l() {
  flex: 1 1 10%;
}

.table>tbody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table>tbody>tr {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 15px;
  box-shadow: inset 0px -2px 0px #E0E0E0;
  border-radius: 15px;
}

.table>tbody>tr>td {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
}

.table>tbody>tr>td>select {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  contain: strict;
}

.table>tbody>tr>td.buttonsContainer {
  display: flex;
  gap: 2%;
  justify-content: flex-end;
}
.table>tbody>tr>td.buttonsContainer >button {
  padding: 8px 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #ffffff;
  background: #49A37B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}