.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
  /* font-size: 1.2vw; */
  text-align: center;
  color: var(--color-blue-primary);
}

.container > h2 {
  width: 96%;
  font-size: 30px;
  text-transform: capitalize;
}

.container .tableContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: 96%;
  margin-bottom: 4vh;
  padding: 2% 2% 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.tableContainer > .tableContainer2  {
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer thead {
  position: sticky;
  top: 0;
}
.tableContainer th, .tableContainer td {
  height: 50px;
  padding: 5px;
}

.tableContainer th {
  text-transform: capitalize;
  background-color: var(--color-white-ligthblue);
  box-shadow: inset 0px -1px 0px var(--color-white-ligthgrey);
}

.tableContainer th:first-child {
  border-radius: 0 0 0 15px;
}

.tableContainer th:last-child {
  border-radius: 0 0 15px 0;
}

.tableContainer thead tr {
  font-size: 1.4vw;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

.tableContainer td:last-child > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.tableContainer td:last-child img {
  width: 1.3rem;
  cursor: pointer;
}

.tableContainer tbody tr {
  border-bottom: 1px solid var(--color-blue-primary);
}
.tableContainer tbody tr:last-of-type {
  border: none;
}
.imgContainer {
  margin: 15px;
}

.tableContainer .imgContainer img {
  width: 5vw;
  padding: 1.3vw;
  border-radius: 50%;
  background-color: var(--color-blue-primary);
  cursor: pointer;
}

.PM {
  padding: 10px;
  border-radius: 50%;
  background-color: var(--color-blue-primary);
  color: #ffffff;
}