.container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 40px;
    background-color: #d1d4fc;
    border-radius: 15px;
}

.modal>h2 {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}