.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px 5px;
}

table {
  width: 100%;
}

th {
  width: 10%;
}

.errMsg {
  color: red;
}