.container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 80vh;
    color: var(--color-blue-primary);
}

.container h2 {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    width: 100%;
}

.loading {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.loading::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 13px solid var(--color-white-ligthgrey);
    border-top-color: var(--color-green-primary);
    border-bottom-color: var(--color-green-primary);
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}