.footer {
  padding: 4vw 2vw 1vw;
  background-color: #dddde5; 
  color: #1c1c1d;
}

.footer h3 {
  font-size: 2.1vw;
  text-transform: uppercase;
}


.footer > div {
  display: flex;
  flex-direction: column;
  gap: 8vw;
  padding: 3vw 0 1vw;
  border-top: solid #d0d0d8;
  border-bottom: solid #d0d0d8;
}

.footer > div > div {
  display: flex;
  justify-content: space-between;
}

.footer > div > div:first-child > div {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  font-size: 1.1vw;
  text-transform: uppercase;
}

.footer h4 {
  margin-bottom: 1vw;
}
.footer li {
  list-style: none;
  margin-bottom: .3vw;
}

.footer p {
  font-size: .9 vw;
}

.footer > div > div:last-child > div {
  display: flex;
  gap: 1vw;
}

.footer img {
  width: 2.4vw;
}