* {
  box-sizing: border-box;
}

.formSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #373867;
}

form {
  display: flex;
  flex-direction: column;
}

caption {
  text-transform: capitalize;
  font-weight: 600;
}

form > div {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.inputsBox {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.inputsBox > div {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
}

.inputsBox > div > label {
  width: 100%;
  text-align: start;
}

.inputsBox > div > input, .inputsBox > div > select {
  width: 100%;
}