.table {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 100px;
  border-collapse: collapse;
  border-spacing: 0;
  color: #142342
}

.th {
  flex: 1;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(190, 190, 252, 0.6);
}

.tbody {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 2px;
}

.tr {
  display: flex;
  padding: 8px;
  border-radius: 15px;
  background-color: #eeecff;
}

.tr:hover {
  background-color: #d3cff8;
}

.td {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttons>button {
  padding: 5px 8px;
  border: 1px solid rgb(3, 2, 63);
  border-radius: 7px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

.editBtn {
  background-color: rgba(190, 190, 252, 0.8);
}
.editBtn:hover {
  background-color: rgb(149, 149, 228);
}

.deleteBtn {
  background-color: rgba(252, 192, 190, 0.8);
}
.deleteBtn:hover {
  background-color: rgb(224, 95, 91);
}